{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}

{% block main %}




<!--<script src="{{url_for('static', filename = 'loadpage.js')}}"> </script> -->
<!--<script src="{{url_for('static', filename = 'loadpage.js')}}"> </script> -->
<!--<script src="{{url_for('static', filename = 'usernamestorage.js')}}"> </script> -->

<!--

<script src="{{url_for('static', filename = 'users.js')}}"> </script>
<script src="{{url_for('static', filename = 'channels.js')}}"> </script>
<script src="{{url_for('static', filename = 'index.js')}}"> </script>

<script src="{{url_for('static', filename = 'channelverify.js')}}"> </script>

 <!--<script src="{{url_for('static', filename = 'index.js')}}"> </script>-->


<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {


    if (localStorage.getItem('user')) {
      let user = localStorage.getItem('user');
      document.querySelector('#channelwelcometext').innerHTML = `Hi ${user}`;

    }
    //if (document.querySelector('#new_channel').value.length > 0)
    //
    //document.querySelector('#current_channels').disabled = true;
    //};

    //  return false;

  })
</script>


<script type="text/javascript">
  ///prevent user from
  function one() {

    if (document.querySelector('#add_channel').value.length > 0)
      document.querySelector('#current_channels').disabled = true;
    else
      document.querySelector('#current_channels').disabled = false;

  };
</script>

<div class="container" style="margin-top:50px">




  <h4 id="channelwelcometext"></h4>
  <h4 style="color:white">Choose an exisitng channel or create a new channel </h4>


  <form id="create_channel" action="channels" method="post">

    <p>create a new channel</p>

    <div class="form-row">
      <div class="col">
        <label for="add_channel" class="col-form-label">New channel:</label>

        <input type="text" onkeyup="one()" class="form-control" id="add_channel" name="add_channel">
      </div>

    </div>
    <p>choose an existing channel from the below listed channels</p>

    <div class="form-row">
      <div class="col">
        <label for="current_channels" class="col-form-label">Current channel:</label>



        <select name="current_channels" id="current_channels" style="width:50%">
          <option disabled="" selected="" value="">channel</option>
          {% for channel in channels_list %}
          <option name="current_channel" id="current_channel" value="{{ channel }}">{{ channel }}</option>
          {% else %}
          <option disabled="" selected="" value="">no current channels. please create one.</option>

          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <button id="channel_submit" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </form>

</div>
{% endblock %}
