{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}




<!--<script src="{{url_for('static', filename = 'loadpage.js')}}"> </script> -->

<!--<script src="{{url_for('static', filename = 'usernamestorage.js')}}"> </script> -->

<!--

<script src="{{url_for('static', filename = 'users.js')}}"> </script>
<script src="{{url_for('static', filename = 'chanels.js')}}"> </script>
<script src="{{url_for('static', filename = 'index.js')}}"> </script>

<script src="{{url_for('static', filename = 'chanelverify.js')}}"> </script>

 <!--<script src="{{url_for('static', filename = 'index.js')}}"> </script>-->





<div class="container" style="margin-top:50px">





<h4 id="chanelwelcometext" style="color:white">Choose an exisitng chanel or create a new chanel </h4>



   <form id="create_chanel" action="/chanels" method="post">



<p>create a new chanel</p>

  <div class="form-row">
      <div class="col">
  <label for="new_chanel" class="col-form-label">New chanel:</label>

     <input type="text" class="form-control" id="new_chanel" name="new_chanel">
     </div>

  </div>
<p>choose an existing chanel from the below listed chanels</p>

  <div class="form-row">
    <div class="col">
      <label for="current_chanels" class="col-form-label">Current chanel:</label>



           <select   name="current_chanels" id="current_chanels" style="width:50%">
             <option disabled="" selected="" value="">chanel</option>
             {% for chanel in chanels_list %}
                 <option name="current_chanel" id="current_chanel" value="{{ chanel }}">{{ chanel }}</option>
               {% else %}
                <option disabled="" selected="" value="">no current chanels. please create one.</option>

             {% endfor %}
         </select>
      </div>
    </div>

        <div class="form-row">
      <div class="col">
        <button id="chanel_subimt" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

 </form>

</div>


{% endblock %}
