{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}

<style >

</style>


<!--<script src="{{url_for('static', filename = 'usernamestorage.js')}}"> </script>-->

<!--script src="{{url_for('static', filename = 'chanelverify.js')}}"> </script>-->
<!--<script src="{{url_for('static', filename = 'users.js')}}"> </script> -->
<!--<script src="{{url_for('static', filename = 'chanels.js')}}"> </script>-->


 <!--<script src="{{url_for('static', filename = 'index.js')}}"> </script>-->
<!-- <script src="{{url_for('static', filename = 'chanelslist.js')}}"> </script>-->

<script src="{{url_for('static', filename = 'chanelverify.js')}}"> </script>
 <script src="{{url_for('static', filename = 'index.js')}}"> </script>



 <script type="text/javascript">

//   if (!localStorage.getItem(current_channel)) {



   document.addEventListener('DOMContentLoaded', () => {

     if ('{{session['chanel']}}') {

       localStorage.setItem('current_channel', '{{session['chanel']}}')
       let channel = localStorage.getItem('current_channel');
      // document.querySelector('#channel_check').innerHTML = `Channel ${channel}`;

     }



       });

//     }

 </script>

<div class="container-flex flex-wrap" >



<div class="d-flex justify-content-between bg-secondary">

 <div class="my-flex-container-column-chanels">

<div >
  <div class=" form-row-add-chanel-form">
    <form id="addchanel" onsubmit="chanel_verify()" style = text-center>
      <input  id="new_chanel" class="form-control" name="new_chanel"  type="text" autocomplete="off"  placeholder="chanel" >
      <input class="btn btn-primary"  onclick="chanel_verify()"  id="chanelsubmit" type="submit" value="create chanel"> </input>
    </form>
  </div>

      <div  id="slackchanels">

<!--
  <div id="nav">
        <p><a href="" class="nav-link" id="chanel" data-page="messages"></a> Current Chanel: {{session.chanel}}</p>
  </div >
-->

<div  class="vertical-menu">


 <div id="chanels">
   {% for chanel in chanels_list %}

      <a href="{{ url_for('chanel', chanel=chanel, channel=chanel, username=session.username )}} "  data-chanel={{chanel}} class="the_channels" id="chanel" data-page="messages">
          chanel:  {{ chanel }}
        </a>

       {% else %}
     <li>No chanels</li>
      {% endfor %}
 </div>

      </div>
     </div>
     </div>
  </div>

<div class="p-2 my-flex-container-column-messages">

  <div class="container-flex">

      <div class="p-2">

         <h3 id="userwelcome"> </h3>
         {% if session.username %}
          <p id="demo"></p>
             {% endif %}

          <div class="d-flex flex-row  justify-content-between flex-wrap  my-flex-container">

          <!--  <p id="channel_check"> </p> -->

            <form id="channel_delete"">

              <div class="form-row">
                <div class="col">
                      <input type="text" id="deleted_channel" class="form-control" name="new_chanel"  autocomplete="off" placeholder="channel"name="delete_channel" >
                </div>
                <div class="col">
                  <button  type="submit"" >Delete Channel</button>
                </div>

              </div>



              </form>

            <div  class="p-2 my-flex-item align-self-center" id="greeting"> welcome, {{session.username}} </div>

            <div class="p-2 my-flex-item  align-self-center" id= "current_chanel"> chanel: {{session.chanel}}</div>

          </div>



<div  class="form-group row" >

<div id="messages" style="height: 50vh" flex width=100% style ="justify-content: center">

<!--   <textarea id="messages" class="form-control" name="chatroom" rows=15 width=100% flex style ="justify-content: center" readonly> -->

      {% for message in messages_dict[session.chanel] %}
        <div> {{message}} </div>
       {% endfor %}

  <!--  </textarea> -->

  </div>
 </div>

    <hr>
<form  id="messaging" >

    <div class="form-group-block row" >
      <div class="col-11">
     <textarea id="message" width=100% class="form-control" autofocus="autofocus" autocomplete="off" type="submit" placeholder="message" required></textarea>
    </div>
    <div class="col-1">
    <button class=" btn-primary w-100 h-100"  id="messagesubmit" type="submit" >Send<button>
    </div>
  </div>
</form>



   </div>
  </div>
</div>

<div class="my-flex-container-column-users">

 <div class=" bg-primary">
   <div  id="namespace" style ="justify-content: center">
     <h6>users</h6>

     <ul>
    {% for user in users %}
          <li>
               {{ user }}
        </li>
        {% else %}
      <li>No users</li>
     {% endfor %}
     </ul>
      <ul id="names"> </ul>
      </div>
     </div>
   </div>
  </div>
</div>

<script type="text/javascript">




  function chanel_verify() {

      document.querySelector('#addchanel').onsubmit = () => {

        const request = new XMLHttpRequest();

        const channel = document.querySelector("#new_chanel").value;

        request.open('POST', '/chanel_verify', true);

        request.onload = () => {

          const data = JSON.parse(request.responseText);

          if (data.validate == false){
            //location.reload(true);
            window.alert(`channel name ${channel} already exists, choose a new channel name`);
            return false;
          }

          else {
            alert(`chanel ${channel} created`)
            return false;
            //location.reload(true)

          }

        }

        const data = new FormData();
        data.append('new_chanel', channel)
        request.send(data);
        //return false;


      };
    };


  </script>


{% endblock %}
