{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}

{% block main %}




<!--<script src="{{url_for('static', filename = 'usernamestorage.js')}}"> </script>-->

<!--script src="{{url_for('static', filename = 'channelverify.js')}}"> </script>-->
<!--<script src="{{url_for('static', filename = 'users.js')}}"> </script> -->
<!--<script src="{{url_for('static', filename = 'channels.js')}}"> </script>-->


<!--<script src="{{url_for('static', filename = 'index.js')}}"> </script>-->
<!-- <script src="{{url_for('static', filename = 'channelslist.js')}}"> </script>-->

<!--script src="{{url_for('static', filename = 'channelverify.js')}}"> </script> -->
<script src="{{url_for('static', filename = 'index.js')}}"> </script>

<script src="{{url_for('static', filename = 'channelverify.js')}}"> </script>


<script type="text/javascript">
  //   if (!localStorage.getItem(current_channel)) {



  document.addEventListener('DOMContentLoaded', () => {

    //clear last user
    localStorage.setItem('current_channel', '')
      localStorage.setItem('current_channel', '{{session['channel']}}')
      let cur_channel = localStorage.getItem('current_channel');
       document.querySelector('#channel_check').innerHTML = `Current channel: ${cur_channel}`;
       //return false;


     })
</script>

<div class="container-flex flex-wrap">



  <div class="d-flex justify-content-between bg-secondary">

    <div class="my-flex-container-column-channels">


      <div id="slackchannels">

        <!--
  <div id="nav">
        <p><a href="" class="nav-link" id="channel" data-page="messages"></a> Current channel: {{session.channel}}</p>
  </div >
-->

        <div class="vertical-menu">


          <div id="channels">
              <div class="p-2 my-flex-item-channel  " id="channel_check"> </div>
              <div id="delete_message_button">
                <button id="message_delete_button" class="btn btn-primary" type="submit">Delete your messages</button>
              </div>
            {% for channel in channels_list %}

            <a href="{{ url_for('index', channel=channel, username=session.username )}} " width=100% data-channel={{channel}} class="the_channels" id="channel" data-page="messages">
              channel: {{ channel }}
            </a>

            {% else %}
            <li>No channels</li>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>



    <div class="p-2   my-flex-container-column-messages">

      <div class="container-flex ">

        <div class="p-2 justify-content-right align-items-end">

          <div id="add-delete-forms-top-info">


            <div class="d-flex flex-row  justify-content-between flex-wrap  my-flex-container">
<!--
              <div class="form-group-block-row align-items-end">
                <form id="addchannel" onsubmit="channel_verify()" style=text-center>
                  <div class="form-row align-ri ">

                    <input id="new_channel" class="form-control" name="new_channel" type="text" autocomplete="off" placeholder="addchannel">

                    <input class="btn  btn-primary" onclick="channel_verify()" id="channelsubmit" type="submit" value="submit"> </input>

                </form>
              </div>

              <div class="form-group-block-row align-items-end"">
                <form id="channel_delete"">
              <div class=" form-row">
                  <input type="text" id="deleted_channel" class="form-control" autocomplete="off" placeholder="delete_channel" name="delete_channel">
                  <input class="btn btn-primary" type="submit" value="submit"></input>
              </div>
              </form>
            </div>
-->

            <!--  <p id="channel_check"> </p> -->

            <!--
            <form id="channel_delete"">

              <div class="form-row">
                <div class="col">
                      <input type="text" id="deleted_channel" class="form-control" autocomplete="off" placeholder="channel"name="delete_channel" >
                </div>
                <div class="col">
                  <button  type="submit"" >Delete Channel</button>
                </div>
-->

            <h3 id="userwelcome"> </h3>






            <div class="p-2 my-flex-item align-self-center" id="greeting"> welcome, {{session.username}} </div>

            <div class="p-2 my-flex-item  align-self-center" id="current_channel"> channel: {{session.channel}}</div>

          </div>

        </div>

      </div>



      <div class="form-group row">

        <div id="messages" flex width=100% style="justify-content: center">

          <!--   <textarea id="messages" class="form-control" name="chatroom" rows=15 width=100% flex style ="justify-content: center" readonly> -->

          {% for message in messages_dict[session.channel] %}
          <div class="message_text_{{session.username}}">{{message}}</div>
          {% endfor %}

          <!--  </textarea> -->

        </div>
      </div>

      <hr>
      <form id="messaging">

        <div class="form-group-row">
          <div class="col-11">
            <textarea id="message" width=100% class="form-control" autofocus="autofocus" autocomplete="off" type="submit" placeholder="message" required></textarea>
          </div>
          <div class="col-row-flex">
            <input id="messagesubmit" type="submit" value="Submit" class="btn btn-primary"></input>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>



</div>





 <!--
<div class="row">

</div>



<div class="my-flex-container-column-user">




  <div class=" bg-primary">
    <div id="namespace" style="justify-content: center">
      <h6> total users below: </h6>

      <ul>
        {% for user in users_list %}
        <li>
          {{ user }}
        </li>
        {% else %}
        <li>No users</li>
        {% endfor %}
      </ul>

      <ul id="names"> </ul>
    </div>
  </div>
</div>
-->
</div>

<script type="text/javascript">

</script>


{% endblock %}
